.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Daily-box {
    color: white;
    max-height: 265px;
    overflow-y: auto;
  }

  .App-body {
    margin-top: 10px;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  